<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{../css/style.css}" type='text/css' />
    <script th:src="@{../js/jquery.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="main">
    <div class="login">
        <h1>管理系统</h1>
        <div class="inset">
            <!--start-main-->
            <form action="../login" method="post">
                <div>
                    <h2>管理登录</h2>
                    <span><label>用户名</label></span>
                    <span><input type="text" name="username" class="textbox" required ></span>
                </div>
                <div>
                    <span><label>密码</label></span>
                    <span><input type="password" name="password" class="password" required></span>
                </div>
                <div class="sign">
                    <input type="submit" value="登录" class="submit" id="btn_login" />
                </div>
            </form>
        </div>
    </div>
    <!--//end-main-->
</div>

<div class="copy-right">
    <p>&copy; 2018 Ethos Login Form. All Rights Reserved</p>
</div>
</body>
</html>
<script type="text/javascript">
    $('#btn_login').click(function () {
        var username = $('input[name="username"]').val();
        var password = $('input[name="password"]').val();
        if (username === '' || password === ''){
            alert("提示:用户名密码不能为空,请输入...");
            return;
        }
        $.ajax({
            url:'../userLogin',
            type:'post',
            data:{username:username,password:password},
            success:function (data) {
                if (data===-1) {
                    alert(data)
                }
            }

        })

    })
</script>